server:
  port: 8094

spring:
  application:
    name: historical-service
  datasource:
    url: jdbc:postgresql://localhost:5432/historicaldb
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none   # don’t recreate schema
    show-sql: true
    properties:
      hibernate:
        format_sql: true


  kafka:
    consumer:
      group-id: historical-service
      auto-offset-reset: earliest
      enable-auto-commit: false
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: false   # ignore producer’s header
        spring.json.value.default.type: com.market.historicalservice.dto.FinQuoteTickEvent

  config:
    import: "optional:configserver:http://localhost:8888"

logging:
  file:
    name: logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-history: 7
      max-file-size: 5MB
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: false
    hostname: localhost

alphavantage:
  apikey: VBMC8IRO31QQLMZD
