auth_enabled: false

server:
  http_listen_address: 0.0.0.0
  http_listen_port: 3100

memberlist:
  join_members: ["read", "write", "backend"]
  bind_addr: ["0.0.0.0"]
  bind_port: 7946
  gossip_interval: 2s

schema_config:
  configs:
    - from: 2023-01-01
      store: tsdb
      object_store: s3
      schema: v13
      index:
        prefix: index_
        period: 24h

storage_config:
  tsdb_shipper:
    active_index_directory: /tmp/loki/index
    cache_location: /tmp/loki/cache

ingester:
  wal:
    enabled: true
    dir: /tmp/loki/wal

compactor:
  working_directory: /tmp/loki/compactor


common:
  replication_factor: 1
  compactor_address: http://backend:3100

  ring:
    kvstore:
      store: memberlist

  storage:
    s3:
      endpoint: minio:9000
      insecure: true
      bucketnames: loki-data
      access_key_id: loki
      secret_access_key: supersecret
      s3forcepathstyle: true

ruler:
  storage:
    s3:
      bucketnames: loki-ruler


