server:
  port: 8076
  address: 0.0.0.0

spring:
  application:
    name: watchlist-service

  cloud:
    openfeign:
      micrometer:
        enabled: true


  datasource:
    url: jdbc:postgresql://localhost:5432/watchlistdb
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  redis:
    host: localhost
    port: 6379

  kafka:
    consumer:
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
    properties:
      spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
      spring.json.trusted.packages: "*"
      spring.json.value.default.type: com.market.watchlistservice.dto.QuoteTickEvent

  config:
    import: "optional:configserver:http://localhost:8888"


    openfeign:
      micrometer:
        enabled: true

management:
  tracing:
    enabled: true
    sampling:
      probability: 1.0

  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

  observations:
    annotations:
      enabled: true



logging:
  file:
    name: logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-history: 7
      max-file-size: 5MB

resilience4j:
  circuitbreaker:
    instances:
      historical:
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 30s
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true

user:
  service:
    url: http://localhost:8096

finnhub:
  api:
    key: d4se4apr01qvsjbh6j00d4se4apr01qvsjbh6j0g

alphavantage:
  apikey: VBMC8IRO31QQLMZD

jwt:
  secret: 2c1dXSuXoU0H4nQ9vN7gK2dZ9wL8fY6pJ1rV2bT6oP8=
  expiration: 86400000   # 1 day (ms)

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: false
    hostname: localhost
